<div class="text-right">
  <button mat-raised-button color="primary" [routerLink]="['/employees/new']">Add Employee</button>
</div>
<mat-table #table [dataSource]="employees">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.title}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.firstname}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.lastname}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.phone}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.address}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="shirtsize">
    <mat-header-cell *matHeaderCellDef> Shirt Size </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.shirtsize}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="hatsize">
    <mat-header-cell *matHeaderCellDef> Hat Size </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.hatsize}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ssn">
    <mat-header-cell *matHeaderCellDef> Social Security Number </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.ssn}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dob">
    <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.dob | date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/employees/',row.id]" class="employee-row"></mat-row>
</mat-table>
